<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <leaflet center="map.center" tiles="map.tiles" height="70vh" width="100%"></leaflet>
            </div>
            <div class="panel-footer">
                <div class="clearfix">
                    <button class="btn btn-info pull-right" ng-click="start()">3D</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <three-scene blocks="buildings" style="height:'70vh';width:'100%'"></three-scene>
            </div>
        </div>
    </div>
</div>



