<div class="jumbotron">
  <h1>SketchUp scripts made easy</h1>

  <br/>

  <div class="row">

    <div class="col-md-6">
      <p>
        Simple web interface that allows user to export 3D map content with ease.
        <br/><br/>
        1. Pick an area from the map.<br/>
        2. Generate the script<b
        3. Copy/paste script into the SketchUp ruby console and let the
        magic begin.
      </p>
      <p>
        <a class="btn btn-info" href="https://github.com/ltempier/ng-sketchup" target="_blank">Show
          source code</a>
      </p>
    </div>

    <div class="col-md-6">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/bnw2zcEGWsA?rel=0&autohide=1&showinfo=0"
                frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>


</div>

<!--<p class="lead">-->
<!--<img src="images/sketchup_logo.png">-->
<!--</p>-->
